@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');




#mesfs {
	color:rgb(0, 0, 0);
	background-color: white;
  font-family: 'Poppins';
  font-weight: reg;

}

:root {
	--dark-color-a: #435dee;
	--dark-color-b: #3f57e0;
	--light-color-1: rgb(238, 238, 238);
  --light-color-2: #fff;
	--success-color: #5cb85c;
	--red-color: rgb(206, 102, 107);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins';
  font-weight: regular;
	font-size: 16px;
	background: var(--dark-color-a);
	margin: 20px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.bod {
  width: 100%;
  height: 100%;
}

ul {
	list-style: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.exitbtn {
  color: #fff;
  background: var(--red-color);
  padding: 15px;
  margin: 0;

  border-radius: 500px;
  transition: 0.3s;

}

.exitbtn .material-icons {
  margin: 0;
  padding: 0;
  transform: translate(0);
}

.exitbtn {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;     
  font-size: 15px; 
  user-select: none;
}

.usrs {
  color: var(--light-color-2);
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  right: 0;
  margin-right: 150px;
  top: 0;
  margin-top: 10px;
  cursor: pointer;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
  font-size: 15px;
  transition: 0.3s;
  z-index: 2;
}

.usrs:hover {
  color: #aaa;
  text-decoration: none;
}

.exitbtn:hover {
  color: var(--red-color);
  background: transparent;
  text-decoration: none;
}



/* Chat Page */

.chat-container {
	background: #fff;
	margin: 0;
  position: absolute;
  top: 0;
  left: 0;
	overflow: hidden;
  width: 100%;
  height: 100%;
}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	padding: 15px;
  width: 100%;
	display: flex;
	align-items: center;
  margin: 0;
}

.chat-header img {
  width: 40px;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}



.chat-sidebar.active {
  -moz-animation: slideout 1s;
  -webkit-animation: slideout 1s;
  -o-animation: slideout 1s;
  animation: slideout 1s;
  animation-fill-mode: forwards;
}


@keyframes slidein {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes slideout {
  0% {

    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.chat-sidebar {
  background: var(--dark-color-b);
	color: #fff;
	overflow-x: hidden;
  height: 100vh;
  font-family: 'Montserrat';
  position: fixed;
  width: 40%;
  
  -moz-animation: slidein 1s;
  -webkit-animation: slidein 1s;
  -o-animation: slidein 1s;
  animation: slidein 1s;
  animation-fill-mode: forwards;
}




#room-name {
  width: 100%;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 25px;
}

.chat-sidebar h3 {
  position: absolute;
  font-family: 'Montserrat';
  width: 100%;
  margin: 0;
  text-align: center;
}



.chat-sidebar ul li {
	padding: 10px 0;
  text-align: center;
  width: 100%;
}

.chat-messages {
	padding: 10px;
	max-height: 516px;
  top: 0;
	overflow-y: scroll;
  width: 100vw;
}

.chat-messages .message {
	padding: 30px;
  margin-bottom: 30px;
  width: 100%;
  text-align: left; /* changes the dir of messages */
  border-bottom-right-radius: 50px; /* so does this */
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  font-family: 'Poppins';
}

.chat-messages .message2 {
	padding: 30px;
  margin-bottom: 30px;
  width: 100%;
  text-align: right; /* changes the dir of messages */
  border-bottom-left-radius: 50px; /* so does this */
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  font-family: 'Poppins';
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: #435deeb2;
  display: inline;
}

.chat-messages .message .tag {
	font-size: 15px;
	font-weight: bold;
	color: #ee4360b2;
  display: inline;
}

.chat-messages .message2 .meta {
	font-size: 15px;
	font-weight: bold;
  background-color: blue;
}




.chat-form-container {
	padding: 7px 50px;
	background: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 13px;
	padding: 3px;
	height: 40px;
	flex: 1;
  border-radius: 100px;
  border: none; 
  font-family: 'Poppins';
}

input {
  padding: 5px;
  box-sizing: border-box;
}

textarea:focus, input:focus{
    outline: none;
}

input[type="text"] {
    box-sizing: border-box;
    padding: 5px;
		width: 500px;
}

input::placeholder {
  color: #ddd;
  font-size: 13px;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

input::text {
  padding: 10px;
}

input::value {
  padding: 10px;
}

input {
  padding: 10px;
  font-family: 'Poppins';
  font-size: 15px
}

/* Preloader */

.preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  background-color: #3b53d6;
  justify-content: center;
  align-items: center;
  visibility: visible;
}

.preloader img {
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.preloader.done {
  animation: done ease-in 0.5s;
  animation-fill-mode: forwards;
}

@keyframes done {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(100%);
  }
}

/* Popup */

.modal-container * {
  box-sizing: border-box;
}

.modal-container {
  font-family: 'Poppins';
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  top: 0;
  left: 0;
}

input {
  border-radius: 50px;
  border: none;
  background-color: #eee
}

input:focus {
  outline: none;
}

.modal-container {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.modal-container.show {
  pointer-events: auto;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}


.modal {
  background: #fff;
  padding: 30px 60px;
  width: 600px;
  max-width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: center;
  margin: 30px;
  top: 0;
  left: 0;
}


.meet {
  color: var(--light-color-2);
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  right: 0;
  margin-right: 114px;
  top: 0;
  margin-top: 4.5px;
  cursor: pointer;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;
  user-select: none;
  font-size: 15px;
  transition: 0.3s;
  z-index: 2;
}

.meet:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

*{
  font-family: Poppins;
}