@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 60; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  transform: translateX(-30px) translateY(-30px);
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  font-family: Poppins;
  text-align: center;
  border-radius: 0;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 50px;
  font-weight: bold;

}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  font-size: 51px;
}

.modal-content h1 {
  font-size: 30px;
  color: #222;
}

.modal-content h2 {
  font-size: 15px;
  color: #333;
}

.modal-content a {
  color: #435dee;
  text-decoration: none;
  transition: opacity 0.3s;
}

.modal-content a:hover {
  opacity: 0.5;
  text-decoration: none;
}
