@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

:root {
  --dark: #435dee;
  --light-1: #fff;
  --light-2: #eee;
  --text-color-1: #222;
}

input {
  border-radius: 50px;
  border: none;
  margin: 10px 0;
  font-family: 'Poppins';
  background-color: var(--light-2);
}

input:focus {
  outline: none;
}

.form-control {
  display: inline-block;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
}

.btn {
  font-size: 40px;
  display: grid;
  margin: 30px;
  padding: 15px 50px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-family: 'Poppins';
  letter-spacing: 0px;
  background: #eee;
  transition: 0.3s;
}

.margin {
  margin: 10px;
  margin-top: 500px;
  color: #435dee;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

.cus-div {
  width: 100%;
  height: 50%;
}

#header {
  background: #435dee;
  -webkit-background-size: 30px;
  background-size: 30px;
  background-position: center top;
  z-index: -1;
}

.cus-div:after {
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: -1;
  bottom: 0;
  content: '';
}

.content {
  font-weight: bold;
  padding: 35px;
  overflow: hidden;
  background: none;
  height: auto;
  vertical-align: middle;
  transform: translateY(50%);
}

.title {
  font-size: 60px;
  color: var(--light-1);
  font-weight: 600;
  width: 100%;
  height: 30px;
  text-align: left;
}

h1 {
  font-size: 70px;
  color: var(--light-1);
  font-weight: 700;
}

p {
  font-size: 20px;
  color: var(--light-1);
  font-weight: 500;
  font-family: 'Poppins';
  text-align: center;
  width: 100%;
}

.desc {
  font-size: 25px;
  color: var(--light-1);
  font-weight: 500;
  font-family: 'Poppins';
  text-align: left;
  width: 100%;
}

.image-placeholder {
  width: 90%;
  height: 60vw;
  margin: auto;
  position: relative;
  transform: translateY(-100px);
  z-index: 1;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.image-placeholder img {
  width: 50%;
  border-radius: 10px;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav img {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.change-color {
  background-color: #171920;
}

.nav img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  padding: 20px;
  z-index: 30;
}

/* Cards */

.cards * {
  box-sizing: border-box;
}

.cards p {
  color: var(--text-color-1)
}

.cards h2 {
  font-size: 30px;
}

.cards .material-icons {
  transform: translateY(6px);
  font-size: 35px;
}

.border {
  background: var(--light-2);
  width: 50%;
  margin: auto;
  height: 3px;
}

.row h1 {
  font-size: 50px;
  width: 100%;
  text-align: center;
}

.row {
  background: var(--dark);
  width: 100%;
  height: 100%;
  padding: 30px;
}

.column {
  float: left;
  width: 33.333%;
  padding: 0 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: var(--light-1);
  border-radius: 10px;
}

@media screen and (max-width: 800px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


@media screen and (max-width: 600px) {
  .links {
    display: none;
  }
}

/* Preloader */

.preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  background-color: #3b53d6;
  justify-content: center;
  align-items: center;
  visibility: visible;
}

.preloader img {
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.preloader.done {
  animation: done ease-in 0.5s;
  animation-fill-mode: forwards;
}

@keyframes done {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(100%);
  }
}

/* Section */

.section {
  width: 100%;
  text-align: center;
  color: var(--text-color-1);
  margin-top: 100px;
  margin-bottom: 100px;
}



.joinbutton {
  padding: 15px 35px;
  border: none;
  color: #435dee;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  font-family: 'Poppins';
  text-decoration: none;
  background: #fff;
  transition: 0.3s;
}

.joinbutton:hover {
  opacity: 0.5;
}

.learnmore {
  padding: 15px 35px;
  border: none;
  color: #fff;
  background: none;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  font-family: 'Poppins';
  text-decoration: none;
  transition: 0.3s;
}

.learnmore:hover {
  opacity: 0.5;
}


h1, h2, h3, h4, h5, h6, p{
	cursor: text;
}